---
title: "STILT Home"
---

<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body>
  <style>
    body, html {
      overflow: hidden;
    }
    @media (min-width: 768px) {
      .navbar-default {
        background-color: transparent;
      }
      .dropdown-menu,
      .dropdown-menu li {
        background-color: transparent !important;
        border: none;
        box-shadow: none;
      }
    }
  </style>

  {% include nav.html %}

  <header>
    <div class="container">
      <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
          <div class="header-content">
            <div class="header-content-inner">
                <h1>Stochastic Time-Inverted<br>Lagrangian Transport Model</h1>
                <p>STILT is an open source Lagrangian particle dispersion model.</p>

                <div class="row">
                  <div class="col-xs-12">
                    <a href={{"/about.html"|relative_url}} class="btn btn-default btn-xl btn-block">What is STILT</a>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xs-6">
                    <a href={{"/docs/"|relative_url}} class="btn btn-outline btn-xl btn-block">Install</a>
                  </div>
                  <div class="col-xs-6">
                    <a href={{"/tutorials/"|relative_url}} class="btn btn-outline btn-xl btn-block">Tutorials</a>
                  </div>
                </div>
                <a href="https://github.com/uataq/stilt">
                  <i class="fab fa-github fa-4x animated bounceIn"></i>
                </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>

  <canvas class="bg"></canvas>

  <!-- particle animation -->
  <script src="js/particles.js"></script>
  <script src="js/particle-background.js"></script>
  {% include scripts.html %}
</body>

</html>
