<header>
    <div class="container">
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2">
                <div class="header-content">
                    <div class="header-content-inner">
                        <h1>Stochastic Time-Inverted<br>Lagrangian Transport Model</h1>
                        <h4>STILT is an open source Lagrangian particle dispersion model.</h4>

                        <div class="row">
                          <div class="col-xs-5 col-xs-offset-1">
                            <a href="https://github.com/uataq/stilt/wiki/1.-Installation" class="btn btn-default btn-xl btn-block">Install</a>
                          </div>
                          <div class="col-xs-5">
                            <a href="tutorials.html" class="btn btn-outline btn-xl page-scroll btn-block">Tutorials</a>
                          </div>
                        </div>
                    </div>
                </div>
            </div>
      </div>
    </div>
</header>

<canvas class="bg"></canvas>
