<div class="text-center">
  <ul class="nav nav-pills nav-secondary">
    <li role="presentation"><a href={{"/docs/"|relative_url}}><i class="fas fa-home"></i> Quick Start</a></li>
    <li role="presentation"><a href={{"/docs/install.html"|relative_url}}><i class="fas fa-download"></i> Install</a></li>
    <li role="presentation"><a href={{"/docs/controls.html"|relative_url}}><i class="fas fa-sliders-h"></i> Controls</a></li>
    <li role="presentation"><a href={{"/docs/execution.html"|relative_url}}><i class="fas fa-redo"></i> Execution</a></li>
    <li role="presentation" class="dropdown">
      <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button">
        <i class="fas fa-caret-down"></i> Advanced
      </a>
      <ul class="dropdown-menu">
        <li role="presentation"><a href={{"/docs/repository-structure.html"|relative_url}}><i class="fas fa-fw fa-align-left"></i> Repository Structure</a></li>
        <li role="presentation"><a href={{"/docs/workflow.html"|relative_url}}><i class="fas fa-fw fa-code-branch"></i> Workflow</a></li>
        <li role="presentation"><a href={{"/docs/outputs.html"|relative_url}}><i class="fas fa-fw fa-chart-bar"></i> Outputs</a></li>
        <li role="presentation"><a href={{"/docs/contribute.html"|relative_url}}><i class="fas fa-fw fa-users"></i> Contribute</a></li>
      </ul>
    </li>
  </ul>
</div>
