<nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href={{ "/" | relative_url }}>
        <span class="text-primary"><b>STILT</b></span> Model
      </a>
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#nav-menu">
        <span class="sr-only">Toggle navigation</span>
        <i class="fas fa-bars"></i>
      </button>
    </div>

    <div class="collapse navbar-collapse" id="nav-menu">
      <ul class="nav navbar-nav">
        <li><a href={{ "/about.html" | relative_url}}>About</a></li>
        <li><a href={{ "/tutorials/" | relative_url}}>Tutorials</a></li>
        <li><a href={{ "/docs/" | relative_url}}>Docs</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button">
            <i class="fas fa-caret-down"></i> V2.0
          </a>
          <ul class="dropdown-menu">
            <li><a href={{"/index.html"|relative_url}}><i class="fas fa-fw fa-check"></i> v2.0</a></li>
            <li><a href="https://www.bgc-jena.mpg.de/bgc-systems/projects/stilt/pmwiki/pmwiki.php"><i class="fas fa-fw fa-check" style="visibility:hidden;"></i> v1.0</a></li>
          </ul>
        </li>
        <li>
          <a href="https://github.com/uataq/stilt"><i class="fab fa-lg fa-github"></i></a>
        </li>
      </ul>
    </div>
  </div>
</nav>
