<nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <!-- <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#nav-menu"><span class="sr-only">Toggle navigation</span> Menu </button> -->
            <a class="navbar-brand" href="index.html">
              <span class="text-primary"><b>STILT</b></span> Model
            </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="nav-menu">
            <ul class="nav navbar-nav">
              <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="https://github.com/uataq/stilt/wiki">Learn</a>
                <ul class="dropdown-menu">
                  <li><a href="https://github.com/uataq/stilt/wiki/">Documentation</a></li>
                  <li><a href="tutorials.html">Tutorials</a></li>
                </ul>
              </li>
              <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="https://github.com/uataq/stilt/blob/master/CONTRIBUTING.md">Contributing</a>
                <ul class="dropdown-menu">
                  <li><a href="https://github.com/uataq/stilt/blob/master/CONTRIBUTING.md">Guidelines</a></li>
                  <li><a href="https://github.com/uataq/stilt/issues">Report an issue</a></li>
                </ul>
              </li>
              <!-- <li><a href="/blog/">Blog</a></li> -->
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>
