<nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href={{ "/" | relative_url }}>
        <span class="text-primary"><b>STILT</b></span> Model
      </a>
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#nav-menu">
        <span class="sr-only">Toggle navigation</span>
        <i class="fas fa-bars"></i>
      </button>
    </div>

    <div class="collapse navbar-collapse" id="nav-menu">
      <ul class="nav navbar-nav">
        <li><a href={{ "/about.html" | relative_url}}>About</a></li>
        <li><a href={{ "/tutorials/" | relative_url}}>Tutorials</a></li>
        <li><a href={{ "/docs/" | relative_url}}>Docs</a></li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button">
            <i class="fas fa-caret-down"></i> V2.0
          </a>
          <ul class="dropdown-menu">
            <li><a href={{"/index.html"|relative_url}}><i class="fas fa-fw fa-check"></i> v2.0</a></li>
            <li><a href="https://www.bgc-jena.mpg.de/bgc-systems/projects/stilt/pmwiki/pmwiki.php"><i class="fas fa-fw fa-check" style="visibility:hidden;"></i> v1.0</a></li>
          </ul>
        </li>
        <li>
          <a href="https://github.com/uataq/stilt"><i class="fab fa-lg fa-github"></i></a>
        </li>
        <li><a href="#modal-subscribe" rel="modal:open" class="btn btn-outline" data-target="#nav-menu" data-toggle="collapse">Subscribe</a></li>
      </ul>
    </div>
  </div>
</nav>

<!-- Email subscription modal -->
<div id="modal-subscribe" class="modal">
  <img src={{"/img/subscribe-banner.png"|relative_url}}>
  <div class="modal-inner">
    <h4>Subscribe to be notified of critical code updates</h3>
    <!-- Begin MailChimp Signup Form -->
    <form action="https://utah.us18.list-manage.com/subscribe/post?u=601ca01c74deba97d8386167b&amp;id=02df60ecf0" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank">
        <div class="form-group">
          <label for="mce-EMAIL">Email Address <span class="asterisk">*</span></label>
          <input type="email" name="EMAIL" class="required email form-control" id="mce-EMAIL">
        </div>
        <div class="form-group">
          <label for="mce-NAME">Name <span class="asterisk">*</span></label>
          <input type="text" name="NAME" class="required form-control" id="mce-NAME">
        </div>
        <div class="form-group">
          <label for="mce-AFFIL">Affiliation </label>
          <input type="text" name="AFFIL" class="form-control" id="mce-AFFIL">
        </div>
        <div id="mce-responses" class="clear">
          <div class="response" id="mce-error-response" style="display:none"></div>
          <div class="response" id="mce-success-response" style="display:none"></div>
        </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
        <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_601ca01c74deba97d8386167b_02df60ecf0" tabindex="-1" value=""></div>
        <div class="row">
          <div class="col-sm-6">
            <button type="submit" name="subscribe" id="mc-embedded-subscribe" class="btn btn-default btn-block">
              <i class="fas fa-user-plus"></i> Subscribe
            </button>
          </div>
          <div class="col-sm-6">
            <a href="#" rel="modal:close" class="btn btn-block"><i class="fas fa-times"></i> Close</a>
          </div>
        </div>
    </form>
    <!--End mc_embed_signup-->
  </div>
</div>
