<div class="row">
  <div class="col-sm-6 col-sm-offset-3">
    <div class="service-box">
      <i class="fa fa-4x fa-building wow bounceIn text-primary"></i>
      <h3 class="text-primary"><b>WBB CO<sub>2</sub></b></h3>
      <p>
        Simulate a day of CO<sub>2</sub> concentrations for the William Browning Building at the University of Utah
      </p>
      <div class="btn-group btn-group-justified" role="group" aria-label="...">
        <a role="button" class="btn btn-default" onclick="show('wbb-new')">I'm new</a>
        <a role="button" class="btn btn-default" onclick="show('wbb-exp')">I've used STILT</a>
      </div>
    </div>
  </div>
</div>
