.heading-font {
  font-family: 'Catamaran', 'Helvetica', 'Arial', 'sans-serif';
  font-weight: 200;
  letter-spacing: 1px;
}

.body-font {
  font-family: 'Muli', 'Helvetica', 'Arial', 'sans-serif';
}

.alt-font {
  font-family: 'Lato', 'Helvetica', 'Arial', 'sans-serif';
  text-transform: uppercase;
  letter-spacing: 2px;
}

html {
  height: 100%;
  width: 100%;
}

body {
  height: 100%;
  width: 100%;
  font-family: 'Muli', 'Helvetica', 'Arial', 'sans-serif';
}

a {
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  transition: all 0.35s;
  color: $theme-primary;
  &:hover, &:focus {
    color: $theme-primary;
    text-decoration: none;
  }
}

hr {
  max-width: 100px;
  margin: 25px auto 0;
  border-width: 1px;
  border-color: rgba(34, 34, 34, 0.1);
  &.light {
    border-color: white;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Catamaran', 'Helvetica', 'Arial', 'sans-serif';
  font-weight: 200;
  letter-spacing: 1px;
}

p {
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 20px;
}

.navbar-default {
  cursor: pointer;
  background-color: $theme-secondary;
  border-color: transparent;
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  transition: all 0.35s;
  font-family: 'Catamaran', 'Helvetica', 'Arial', 'sans-serif';
  font-weight: 200;
  letter-spacing: 1px;
  .navbar-header {
    .navbar-brand {
      font-family: 'Catamaran', 'Helvetica', 'Arial', 'sans-serif';
      font-weight: 200;
      letter-spacing: 1px;
      color: white;
      &:hover, &:focus {
        color: $theme-primary;
      }
    }
    .navbar-toggle {
      color: white;
      background: transparent !important;
      border-color: transparent !important;
      font-size: 12px;
      padding: 8px 10px;
      &:active, &:focus, &:hover, &:focus:hover {
        color: $theme-primary;
      }
    }
  }
  .nav > li {
    > a {
      font-family: 'Lato', 'Helvetica', 'Arial', 'sans-serif';
      text-transform: uppercase;
      letter-spacing: 1px;
      font-size: 11px;
      color: white;
      background: transparent !important;
      &:active, &:focus, &:hover, &:focus:hover {
        color: $theme-primary !important;
      }
    }
  }
}

@media (min-width: 768px) {
  ul.nav li.dropdown:hover > ul.dropdown-menu {
    display: block;
  }
  ul.dropdown-menu, ul.dropdown-menu > li {
    margin: 5px 0 5px 0;
    background-color: $theme-secondary;
    color: white;
    > a {
      font-family: 'Lato', 'Helvetica', 'Arial', 'sans-serif';
      text-transform: uppercase;
      letter-spacing: 1px;
      font-size: 11px;
      color: white;
      &:focus, &:hover, &:focus:hover {
        color: $theme-primary;
        background-color: transparent;
      }
    }
  }
}

.bg {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  z-index: -1;
  background: $theme-secondary;
}

header {
  position: relative;
  width: 100%;
  min-height: 100%;
  overflow-y: hidden;
  color: white;
  .header-content {
    text-align: center;
    padding: 0;
    height: 100vh;
    position: relative;
    .header-content-inner {
      max-width: 500px;
      margin: 0 auto;
      position: relative;
      top: 50%;
      transform: translateY(-50%);
      p {
        font-size: 16px;
        font-weight: lighter;
      }
      i {
        margin-top: 30px;
      }
      a {
        margin-top: 15px;
      }
      h1 {
        margin-top: 0;
        margin-bottom: 30px;
        font-size: 10px;
      }
      .btn {
        font-size: 12px;
      }
    }
  }
}

// @media (min-width: 768px) {
//   header .header-content > .header-content-inner {
//     h1 {
//       // margin-bottom: 100px;
//       font-size: 100px;
//     }
//   }
// }


.navbar-collapse.in {
    overflow-y: visible; /* Bootstrap default is "auto" */
}

section {
  padding: 100px 0;
  h2 {
    font-size: 50px;
    &.section-heading {
      margin-top: 0;
    }
  }
  p {
    font-size: 14px;
  }
  hr {
    // border-color: black;
    max-width: 40%;
  }

  &.tutorial {
    .service-box {
      a:not(:first-child) {
        border-left: 1px white solid;
      }
      text-align: center;
    }
    .showhide {
      margin-top: 50px;
      display: none;
    }
  }

  &.about {
    .service-box {
      text-align: center;
      i {
        color: $theme-primary;
        font-size: 36px;
      }
      h3 {
        margin-top: 10px;
        margin-bottom: 10px;
      }
    }

    .steps {
      img {
        width: 100%;
        border-radius: 50%;
      }
    }

    .action {
      .btn-xl {
        font-size: 12px;
      }
    }
  }
}

footer {
  padding: 25px 0;
  width: 100%;
  height: 60px;
  text-align: center;
  p {
    font-size: 12px;
    margin: 0;
  }
  ul {
    margin-bottom: 0;
    li a {
      font-size: 12px;
      color: rgba(255, 255, 255, 0.3);
      &:hover, &:focus, &:active, &.active {
        text-decoration: none;
      }
    }
  }
  .container {
    margin-bottom: 25px;
  }
}

.bg-primary {
  background: $theme-primary;
  background: -webkit-linear-gradient($theme-primary, $theme-secondary);
  background: linear-gradient($theme-primary, $theme-secondary);
}

.text-primary {
  color: $theme-primary;
}

.no-gutter > [class*='col-'] {
  padding-right: 0;
  padding-left: 0;
}

.btn-outline {
  color: white;
  border-color: white;
  border: 1px solid;
  &:hover, &:focus, &:active, &.active {
    color: white;
    background-color: $theme-primary;
    border-color: $theme-primary;
  }
}

.btn-default {
  color: white;
  border: 1px solid;
  border-color: $theme-primary;
  background-color: $theme-primary;
  &:hover, &:focus, &:active, &.active {
    color: white;
    background-color: $theme-primary;
    border-color: $theme-primary;
  }
}

.btn {
  font-family: 'Lato', 'Helvetica', 'Arial', 'sans-serif';
  text-transform: uppercase;
  letter-spacing: 1px;
  border-radius: 3px;
}

.btn-xl {
  padding: 10px 16px;
  font-size: 14px;
  line-height: 1.3333333;
}

::-moz-selection, ::selection {
  color: white;
  text-shadow: none;
  background: #222222;
}

img {
  &::selection, &::-moz-selection {
    color: white;
    background: transparent;
  }
}

body {
  webkit-tap-highlight-color: $theme-primary;
}
