.heading-font {
  font-family: 'Catamaran', 'Helvetica', 'Arial', 'sans-serif';
  font-weight: 200;
  letter-spacing: 1px;
}

.body-font {
  font-family: 'Muli', 'Helvetica', 'Arial', 'sans-serif';
}

.alt-font {
  font-family: 'Lato', 'Helvetica', 'Arial', 'sans-serif';
  text-transform: uppercase;
  letter-spacing: 2px;
}

html {
  height: 100%;
  width: 100%;
}

body {
  height: 100%;
  width: 100%;
  font-family: 'Muli', 'Helvetica', 'Arial', 'sans-serif';
}

a {
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  transition: all 0.35s;
  color: $theme-primary;
  &:hover, &:focus {
    color: $theme-primary;
    text-decoration: none;
  }
}

hr {
  max-width: 100px;
  margin: 25px auto 0;
  border-width: 1px;
  border-color: rgba(34, 34, 34, 0.1);
  &.light {
    border-color: white;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Catamaran', 'Helvetica', 'Arial', 'sans-serif';
  font-weight: 200;
  letter-spacing: 1px;
}

p {
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 20px;
}

.navbar-default {
  cursor: pointer;
  background-color: $theme-secondary;
  border-color: transparent;
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  transition: all 0.35s;
  font-family: 'Catamaran', 'Helvetica', 'Arial', 'sans-serif';
  font-weight: 200;
  letter-spacing: 1px;
  .navbar-header {
    .navbar-brand {
      font-family: 'Catamaran', 'Helvetica', 'Arial', 'sans-serif';
      font-weight: 200;
      letter-spacing: 1px;
      color: white;
      &:hover, &:focus {
        color: $theme-primary;
      }
    }
    .navbar-toggle {
      color: white;
      background: transparent !important;
      border-color: transparent !important;
      font-size: 12px;
      padding: 8px 10px;
      &:active, &:focus, &:hover, &:focus:hover {
        color: $theme-primary;
      }
    }
  }
  .nav > li {
    > a {
      font-family: 'Lato', 'Helvetica', 'Arial', 'sans-serif';
      text-transform: uppercase;
      letter-spacing: 1px;
      font-size: 11px;
      color: white;
      background: transparent !important;
      &:active, &:focus, &:hover, &:focus:hover {
        color: $theme-primary;
        text-decoration: none;
      }
    }
  }
}

@media (min-width: 768px) {
  ul.dropdown-menu, ul.dropdown-menu > li {
    margin: 5px 0 5px 0;
    background-color: $theme-secondary;
    color: white;
    > a {
      font-family: 'Lato', 'Helvetica', 'Arial', 'sans-serif';
      text-transform: uppercase;
      letter-spacing: 1px;
      font-size: 11px;
      color: white;
      &:focus, &:hover, &:focus:hover {
        color: $theme-primary;
        background-color: transparent;
      }
    }
  }
}

.bg {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  z-index: -1;
  background: $theme-secondary;
}

.navbar-collapse.in {
    overflow-y: visible; /* Bootstrap default is "auto" */
}

.navbar-collapse {
  border-top: none;
}

.nav-secondary {
  display: inline-block;
  text-align: center;

  a:hover, a:active, a:focus {
    background: transparent !important;
    color: $theme-primary;
  }
}

header {
  position: relative;
  width: 100%;
  min-height: 100%;
  overflow-y: hidden;
  color: #fff;
  .header-content {
    text-align: center;
    padding: 0;
    height: 100vh;
    position: relative;
    .header-content-inner {
      max-width: 500px;
      margin: 0 auto;
      position: relative;
      top: 50%;
      transform: translateY(-50%);
      p {
        font-size: 16px;
        font-weight: lighter;
      }
      a {
        margin-top: 15px;
      }
      h1 {
        margin-top: 0;
        margin-bottom: 30px;
      }
      .btn {
        font-size: 12px;
      }
      .btn-default {
        min-width: 300px;
      }
      .fa-github {
        margin-top: 30px;
      }
    }
  }
}


.content {
  padding-top: 50px;
  overflow-x: hidden;

  p {
    font-size: 14px;
  }
  hr {
    max-width: 40%;
  }
  video {
    margin: 0;
    padding: 0;
    width: 100%;
  }

  .container-light {
    background-color: #fff;
  }

  .container-dark {
    padding-top: 1px;
    padding-bottom: 1px;
    background-color: $theme-secondary;
    color: #fff;
  }

  .icon-box {
    text-align: center;
    margin-top: 20px;
    img {
      height: 150px;
      width: 150px;
    }
  }

  .section-title {
    text-align: center;
    margin: auto;
    margin-bottom: 20px;
    max-width: 600px;
  }

  .step {
    min-height: 210px;
    img {
      display: block;
      border-radius: 50%;
      // float: center;
      margin: 10px auto;
      height: 150px;
      width: 150px;
      @media(min-width: 768px) {
        float: right;
      }
    }
  }
}

.inner {
  margin: 60px 20px;

  @media (min-width: 768px) {
    margin-left: auto;
    margin-right: auto;
    max-width: 80%;
  }
}

.content-docs {
  @extend .content;
  @extend .inner;
  margin-top: 20px;
}

tr td {
  min-width: 140px;
  vertical-align: top;
}

blockquote {
  margin-top: 10px;
}

/* Terminal window view */
.terminal {
  background-color: #2b2e3a;
  border-radius: 5px;
  box-shadow: 0 5px 5px rgba(0,0,0,0.2);
  color: #dee0e8;
  font-family: 'Menlo', monospace;
  font-size: 13px;
  margin: 20px auto;
  overflow: hidden;
  padding: 15px 40px 30px 20px;
  width: 100%;
  @media (min-width: 768px) {
    width: 80%;
  }

 .terminal-osx-button {
    border-radius: 50%;
    display: inline-block;
    height: 12px;
    margin-bottom: 3px;
    margin-right: 0;
    padding: 0;
    width: 12px;
  }
  .terminal-osx-button:nth-child(1) {
    background-color: #F55E57;
  }
  .terminal-osx-button:nth-child(2) {
    background-color: #F9BD2F;
  }
  .terminal-osx-button:nth-child(3) {
    background-color: #3CC940;
  }
  .terminal-lang {
    display: inline-block;
    float: right;
    margin: 0;
    padding: 0;
  }
  .terminal-command {
    margin: 5px 0 5px 0;
  }
  .terminal-command::before {
    color: #717899;
    content: '→ ';
    font-size: 15px;
  }
  .terminal-return {
    line-height: 1.3;
    padding-left: 18px;
  }
}

footer {
  @extend .content;
  margin-top: 0;
  padding-top: 0;
  text-align: center;
  p {
    color: lighten(#000, 30);
    font-size: 13px;
  }
}

.text-primary {
  color: $theme-primary;
}

.no-gutter > [class*='col-'] {
  padding-right: 0;
  padding-left: 0;
}

.btn-outline {
  border: 1px solid;
  border-color: #fff;
  color: #fff;
  &:hover, &:focus, &:active, &.visited {
    background-color: $theme-primary;
    border-color: $theme-primary;
    color: #fff;
  }
}

.btn-default {
  color: #fff;
  border: none;
  background: $theme-primary;
  &:hover, &:focus, &:active, &.visited {
    color: #fff !important;
    background: lighten($theme-primary, 2) !important;
  }
}

.btn {
  font-family: 'Lato', 'Helvetica', 'Arial', 'sans-serif';
  text-transform: uppercase;
  letter-spacing: 1px;
  border-radius: 3px;
}

.btn-xl {
  padding: 10px 16px;
  font-size: 14px;
  line-height: 1.3333333;
}

::-moz-selection, ::selection {
  color: white;
  text-shadow: none;
  background: #222222;
}

img {
  width: 100%;
  &::selection, &::-moz-selection {
    color: white;
    background: transparent;
  }
}

body {
  webkit-tap-highlight-color: $theme-primary;
}
