<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body id="page-top">
  {% include nav.html %}
  <header>
      <div class="container">
          <div class="row">
              <div class="col-sm-8 col-sm-offset-2">
                  <div class="header-content">
                      <div class="header-content-inner">
                          <h1>Stochastic Time-Inverted<br>Lagrangian Transport Model</h1>
                          <p>STILT is an open source Lagrangian particle dispersion model.</p>

                          <div class="row">
                            <!-- <div class="col-xs-10 col-xs-offset-1">
                              <a href="about.html" class="btn btn-default btn-xl btn-block">What is STILT</a>
                            </div> -->
                            <div class="col-xs-5 col-xs-offset-1">
                              <a href="https://github.com/uataq/stilt/wiki/1.-Installation" class="btn btn-outline btn-xl btn-block">Install</a>
                            </div>
                            <div class="col-xs-5">
                              <a href="tutorials.html" class="btn btn-outline btn-xl btn-block">Tutorials</a>
                            </div>
                          </div>
                          <a href="https://github.com/uataq/stilt"><i class="fa fa-4x fa-github wow bounceIn text-primary"></i></a>
                      </div>
                  </div>
              </div>
        </div>
      </div>
  </header>

  <canvas class="bg"></canvas>

  {% include scripts.html %}
</body>

</html>
