<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body id="page-top">
  {% include nav.html %}

  <section id="tutorial" class="tutorial">
    <div class="container">
      <div class="col-sm-8 col-sm-offset-2">
        <div class="text-center">
          <h2 class="section-heading">STILT TUTORIALS</h2>
          <p>
            Run STILT in just minutes. Choose a tutorial below.
          </p>
          <hr>
          <br><br>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-4 col-sm-offset-2">
          <div class="service-box">
            <i class="fa fa-4x fa-building wow bounceIn text-primary"></i>
            <h3 class="text-primary"><b>WBB CO<sub>2</sub></b></h3>
            <p>
              Simulate a day of CO<sub>2</sub> concentrations for the UATAQ Lab on the University of Utah campus
            </p>
            <!-- <div class="btn-group btn-group-justified" role="group" aria-label="...">
              <a role="button" class="btn btn-default" onclick="show('wbb-new')">I'm new</a>
              <a role="button" class="btn btn-default" onclick="show('wbb-exp')">I've used STILT</a>
            </div> -->
          </div>
          <a role="button" class="btn btn-default btn-block" href="https://benfasoli.gitbooks.io/stilt/wbb-carbon-dioxide.html">WBB Tutorial</a>
        </div>

        <div class="col-sm-4">
          <div class="service-box">
            <i class="fa fa-4x fa-train wow bounceIn text-primary" delay="0.2s"></i>
            <h3 class="text-primary"><b>Light-rail CO<sub>2</sub></b></h3>
            <p>
              Simulate a line of CO<sub>2</sub> concentrations for a light-rail route transecting the Salt Lake Valley
            </p>
            <!-- <div class="btn-group btn-group-justified" role="group" aria-label="...">
              <a role="button" class="btn btn-default" onclick="show('wbb-new')">I'm new</a>
              <a role="button" class="btn btn-default" onclick="show('wbb-exp')">I've used STILT</a>
            </div> -->
          </div>
          <a role="button" class="btn btn-default btn-block" href="https://benfasoli.gitbooks.io/stilt/light-rail-train.html">Light-rail Tutorial</a>
        </div>
      </div>

      {% include wbb-new.html %}
      {% include wbb-exp.html %}
    </div>
  </section>

  {% include footer.html %}
  {% include scripts.html %}

  <!-- show/hide tutorial -->
  <!-- add class="showhide" to section divs to enable show/hide -->
  <script src="js/tutorials.js"></script>

</body>

</html>
