<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body id="page-top">
  {% include nav.html %}

  <div class="content-docs">
    <div class="text-center">
      {% include nav-tutorials.html %}
    </div>
    <blockquote>
      <p>
        Data and example code for STILT tutorials is located in the <a href="https://github.com/uataq/stilt-tutorials">STILT Tutorials Github repository</a>.
      </p>
    </blockquote>
    {{ content }}
  </div>

  {% include footer.html %}
  {% include scripts.html %}
</body>

</html>
